/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #65a4a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #65a4a0;
    border-radius: 8px;
    border: 3px none #ffffff;
  }

#messages{
    width: 600px;
    height: 450px;
    margin: 0 auto;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 3px 3px 4px #00000040;
    background-color: #d8d8d8e3;
}

.msj{
    word-wrap: break-word
    
}

.textBox{
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    width: fit-content;
    max-width: 450px;
}

.time{
    font-size: 12px;
}