<section class="m-4">
    {{#if productExists}}
            <table class="table d-flex flex-column align-items-center">
                <thead>
                    <tr>
                        <th scope="col" class="px-5">Nombre</th>
                        <th scope="col" class="px-5">Precio</th>
                        <th scope="col" class="px-5">Imagen</th>
                    </tr>
                </thead>
                <tbody id="products">
                </tbody>
            </table>
        {{else}}
            <div class="alert alert-danger" role="alert">
                <p>No se encontraron productos</p>
            </div>
        {{/if}}
</section>