<section class="m-5 border p-4">
    <h3 class="mb-5 text-center">Agregar Producto</h3>
    <form action="/api/productos" method="post" class="row g-3">
        <div class="col-md-4">
          <label for="product" class="form-label">Producto</label>
          <input type="text" name="product" class="form-control" id="product">
        </div>
        <div class="col-md-4">
          <label for="value" class="form-label">$ Precio</label>
          <input type="number" name="value" class="form-control" id="price">
        </div>
        <div class="col-md-4">
          <label for="code" class="form-label">C칩digo</label>
          <input type="number" name="code" class="form-control" id="code">
        </div>
        <div class="col-12">
          <label for="description" class="form-label">Descripci칩n</label>
          <input type="text" name="description" class="form-control" id="description">
        </div>
        <div class="col-md-4">
          <label for="stock" class="form-label">Stock</label>
          <input type="text" name="stock" class="form-control" id="stock">
        </div>
        <div class="col-8">
          <label for="imgUrl" class="form-label">Foto (URL)</label>
          <input type="text" name="urlImg" class="form-control" id="urlImg" placeholder="Ingrese la direcci칩n URL de la im치gen">
        </div>
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary mt-4">Guardar</button>
        </div>
      </form>
</section>