<section class="mx-5 text-center">
    <form action="/api/productos/<%= product.id %>?_method=DELETE" method="post" class="row g-3">
        <div class="col">
            <button type="submit" class="btn btn-danger mt-4">Eliminar</button>
        </div>
    </form>
</section>