<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
    <body>
        <h1 class="m-5">Carrito</h1>
        <%- include("../partials/addCartForm") %>
        <%- include("../partials/cartList") %>
        <section class="text-center">
            <a class="btn btn-primary" href="../api/productos" role="button">productos</a>
            <a class="btn btn-primary" href="/" role="button">Usuario</a>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    </body> 
</html